<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.florianschwanz.bikepathquality">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".BikePathQualityApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BikePathQuality.NoActionBar">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.BikePathQuality.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.details.BikeActivityDetailsActivity"
            android:label="@string/title_bike_activity_details"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.surface_type.SurfaceTypeActivity"
            android:label="@string/title_surface_type"
            android:parentActivityName=".ui.details.BikeActivityDetailsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.smoothness_type.SmoothnessTypeActivity"
            android:label="@string/title_smoothness_type"
            android:parentActivityName=".ui.details.BikeActivityDetailsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.rationale.ActivityTransitionPermissionRationaleActivity"
            android:label="@string/title_activity_permission_rationale"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.BikePathQuality.NoActionBar" />
        <activity
            android:name=".ui.rationale.LocationPermissionRationaleActivity"
            android:label="@string/title_location_permission_rationale"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.BikePathQuality.NoActionBar" />

        <service
            android:name=".services.FirebaseFirestoreService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.FirebaseStorageService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.FirebaseDatabaseService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.TrackingForegroundService"
            android:foregroundServiceType="location" />
    </application>

</manifest>